<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="static\script.js"></script>
  <link rel="stylesheet" href="static\dash_style.css">
  <title>PrintEase</title>
  <script>
    function next4() {
      document.getElementById("bill").hidden = false;
      document.getElementById("scan").hidden = true;
    }

    function back4() {
      document.getElementById("bill").hidden = true;
      document.getElementById("scan").hidden = true;
    }
    function checkout() {
      document.getElementById("bill").hidden = true;
      document.getElementById("scan").hidden = false;
      var button = document.getElementById("myButton");
    if ("{{wallet}}" < "{{total}}")
    {
      button.disabled = true;
    }
    else
    {
      button.disabled =false;
    }
    }
  </script>
  <script>
    
    if (window.performance && window.performance.navigation.type === window.performance.navigation.TYPE_BACK_FORWARD) {
      window.location = "{{ip}}";
    }
    
  </script>
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/radialIndicator/1.4.0/radialIndicator.js"></script>
  <img src="{{load_img}}" id="loading">
  <div class="content">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color:#FFEBA7"><img src="{{fav_icon}}" height="50px"> PrintEase</a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/login">GET STARTED</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">CONTACT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">TEAM</a>
            </li>
            <!-- <button class="btn btn-primary" onclick="location.href='/logout';" type="button">LOGOUT</button> -->
          </ul>
        </div>
        <div class="dropdown" id="dropdown">
          <button onclick="myFunction()" class="dropbtn">{{user}}</button>
          <div  id="myDropdown" class="dropdown-content" >
            <a  href="#home" type="button" class="btn btn-primary" style="color: #000"><i style="float: left;" class="fas fa-wallet fa-lg"></i><span style="float: right;">₹{{wallet}}</span></a>
            <a  href="/logout" type="button" class="btn btn-primary " style="color: #000;"><i style="float: left;" class="fas fa-sign-out-alt fa-lg"></i><span style="float: right;">Logout</span></a>
          </div>
        </div>
      </div>
    </nav>
    <br><br><br><br>
    <!--upload card-->
    <div class="section">
      <div class="container">
        <div class="row medium-height justify-content-center">
          <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
              <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                  <div class="card-front">
                    <div class="center-wrap">
                      <!--bill-->
                      <div class="section" id="bill">
                        <label>
                          <h1 style="text-align:left">ORDER SUMMARY</h1>
                          <br>
                          <h4 style="text-align:left">OrderNo: &nbsp{{order_no}}</h4>
                          <h4 style="text-align:left">Date: &nbsp &nbsp{{tod_date}}</h4>
                          <hr>
                          <h4 style="text-align:left">No of pages: &nbsp{{pages}}</h4>
                          <h4 style="text-align:left">{{color}}: &nbsp₹ {{col_cost}} / page</h4>
                          <h4 style="text-align:left">{{side}}: &nbsp₹ {{sid_cost}} / page</h4>
                          <hr>
                          <h4 style="text-align:left">Grand Total: &nbsp₹ {{total}}</h4>
                          <button onclick="location.href='/dashboard'" class="btn mt-4" id="back3">Back</button>
                          <button onclick="checkout()" class="btn mt-4" id="next4"
                            style="position: relative;left:10%;">Checkout</button>
                        </label>
                      </div>
                      <!--scan-->
                      <div class="section" id="scan" hidden>
                        <label>
                          <h1><i class="fa-brands fa-google-pay fa-2xl"></i> ₹ {{total}}</h1><br>
                          <a href="/scan/{{qr_code_id}}"><img src="{{qr_img}}" class="image" alt="QR Code"></a>
                          <br>
                          <button onclick="location.href='/scan/{{qr_code_id}}'" class="btn mt-4" id="wallet">Pay using Wallet</button>
                          </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    setTimeout(function () {
      document.getElementById("loading").style.display = "none";
      document.querySelector(".content").style.display = "block";
    }, 3000);
    if("{{user}}"=="-1"){
          // console.log("hi p")
          document.getElementById("dropdown").style.display="none";
        }
        else{
          document.getElementById("dropdown").style.display="block";
        }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>